html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../assets/Principale/ForestBG.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #101a2e;
  overflow: hidden;
}


#arena {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 60px;
  position: relative;
}


#player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#enemy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player {
  width: 500px;
  height: 300px;
  background-image: url('../assets/Principale/Soldier_Idle.png');
  background-size: 4000px 500px; 
  animation: soldierIdle 1s steps(2) infinite;
  image-rendering: pixelated;
  margin-bottom: 20px;
  transform: translateX(-50px);
}

@keyframes soldierIdle { 
  from { background-position: 0 0; }
  to { background-position: -4000px 0; }
}

#enemy {
  width: 500px;
  height: 500px;
  background-image: url('../assets/Principale/Mushroom-Idle.png');
  background-size: 4000px 500px; 
  animation: soldierIdle 1s steps(7) infinite;
  image-rendering: pixelated;
  margin-bottom: 20px;
  transform: translateX(-100px);
}

#enemy.mutant {
  width: 500px;
  height: 500px;
  background-image: url('../assets/Principale/Enemy3No-Move-Idle.png');
  background-size: 4000px 500px; 
  animation: soldierIdle 1s steps(2) infinite;
  image-rendering: pixelated;
  margin-bottom: 20px;
  transform: translateX(-100px);
}


#attack-btn {
  position: absolute;
  left: 100px;
  bottom: 6px;
  z-index: 10;
  transform: translateX(250px);
}

#attack-btn:hover {
  background: linear-gradient(90deg, #5fa5f9, #366ed1);
  box-shadow:
    0 0 15px 5px #4c77f6,
    inset 0 0 20px 6px #5299ff;
}

#enemy-status {
  position: absolute;
  right: 100px;
  bottom: 110px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive, monospace;
  color: #c3d4f7;
  text-align: center;
  filter: drop-shadow(0 0 5px #0b2c9c);
  transform: translateX(600px); 
}


#status-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#return-map-btn {
  position: absolute;
  bottom: -100px;
  left: 1000px;
  transform: translateX(-50%);
  padding: 14px 28px;
  font-size: 16px;
  background: linear-gradient(90deg, #00b894, #00cec9);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  font-family: 'Press Start 2P', cursive, monospace;
  cursor: pointer;
  box-shadow: 0 0 10px #00cec9;
  z-index: 10;
  display: none; 
}

#replay-btn,
#return-map-btn {
  position: relative;
  display: none;
  margin: 10px auto;
  padding: 14px 28px;
  font-size: 16px;
  background: linear-gradient(90deg, #00b894, #00cec9);
  color: rgb(166, 0, 249);
  border: none;
  border-radius: 12px;
  font-family: 'Press Start 2P', cursive, monospace;
  cursor: pointer;
  box-shadow: 0 0 10px #00cec9;
  z-index: 10;
}

#replay-btn {
  margin-top: 40px;
}
